name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main    #   إلى اسم الفرع الذي تريد نشره عندما يتم الدمج فيه
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Build the project
        run: CI=false npm run build  # تعيين CI=false لتجاوز التحذيرات

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          publish_branch: gh-pages  # تأكد أن هذا فرع النشر الصحيح

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build project
        run: npm install && npm run build  # قم ببناء المشروع

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}  # استخدم GitHub Token
          publish_dir: ./build  # أدخل المسار الصحيح للمجلد المبني
 
